# Neon Database
DATABASE_URL=postgres://your-username:your-password@your-endpoint.neon.tech/your-database?sslmode=require

# Solana Configuration
NEXT_PUBLIC_RPC_ENDPOINT=https://api.mainnet-beta.solana.com
NEXT_PUBLIC_WS_ENDPOINT=wss://api.mainnet-beta.solana.com 